* {
    margin: 0;
    padding: 0;
}

 @font-face {
    font-family: 'Pixelfy_Sans';
    src: url('../assets/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf');
    font-weight: bold;
    font-display: swap;
}

body {
    text-align: center;
    background-color: #8e5bee;
    font-family: 'Pixelfy_Sans', Arial, sans-serif;
    position: relative; 
    min-height: 100vh; 
    z-index: 0; /* para stack thank you sir */
    cursor: url('../assets/cursorCinnamoidle.cur'), auto;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/musedash-big.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    z-index: -1; 
}

header {
    color: white;
    padding: 10px;
    margin-bottom: 1em;
    background-color: rgba(123, 57, 230, 0.781);
}

input {
    margin-top: 5em;
    padding: 20px;
    box-shadow: 0 5px 0px 1px rgb(67, 14, 136);
    outline: none;
    border-radius: 5px;
    font-family: 'Pixelfy_Sans', Arial, sans-serif;
    cursor: url('../assets/cursorCinnamoaddhover.cur'), auto;
}

input:focus {
    
    box-shadow: 0 5px 0px 1px rgb(106, 10, 233);
    transition: 0.5s;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    list-style: none;
    padding: 0;
    max-width: 1200px;
    margin: 20px auto;
    cursor: url('../assets/cursorCinnamoidle.cur'), auto;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #b274f5;
    border-radius: 5px;
    color: black;
    border: 2px solid white;
}

ul button {
    margin-left: 0; 
    color: rgb(163, 34, 34);
    cursor: url('../assets/cursoCinnamodeletehover.cur'), auto;
}

ul button:active {
    color: red;
    cursor: url('../assets/cursorCinnamodeleteconfirm.cur'), auto;
}

button {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px;
    margin: 10px;
    color: rgb(24, 158, 24);
    border-color: white;
    font-family: 'Pixelfy_Sans', Arial, sans-serif;
    cursor: url('../assets/cursorCinnamoaddtask.cur'), auto;
}

button:hover {
    transform: translateY(2.6px);
    box-shadow: 0 3px;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0 0;
    color: rgb(17, 240, 91);
    cursor: url('../assets/cursorCinnamoaddconfirm.cur'), auto;

}

@media screen and (max-width: 920px) {
    body::before {
        background-image: url('../assets/purple\ and\ structures-small.jpg') ;
    }

    ul {
        grid-template-columns: 1fr;  /* Single column */
    }
}